<% provide(:title, "Home") %>
<h1>Welcome to my Ruby On Rails Website!</h1>
<p> Go here for the <%= link_to 'about page', about_path %></p>
<p> Click here see all  <%= link_to 'posts!', posts_path %></p>
